JWT_SECRET="STRONG_KEY_FOR_JWT"
DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD=""
DB_DATABASE="physician"
OTP_CODE_LENGTH=5
OTP_CODE_TIME_EXPIRE_SEC=180
ENCRYPTION_KEY="32_byte_hex_string_for_encryption_key"
ENCRYPTION_KEY_IV="16_byte_hex_string_for_iv"

HOST_USERNAME= "host_username"
HOST_PASSWORD="password_for_host"

SEARCH_HMAC_KEY = 'asdasd'

NODE_ENV="production"